<!DOCTYPE html>
<html>
<head>
    <title>Previous Queries</title>
</head>
<body>
    <h1>Previous Queries</h1>
    <ul>
        {% for date, query in array %}
            <li>{{date}}<a href="/search" onclick="event.preventDefault(); document.getElementById('query').value = '{{ query.strip() }}'; document.getElementById('search-form').submit();">{{ query }}</a></li>
        {% endfor %}
    </ul>

    <form id="search-form" action="/search" method="POST" style="display: none;">
        <input type="hidden" id="query" name="query">
    </form>

    <!--Go back button-->
    <button onclick ="goBack()">Go back</button>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</body>
</html>